* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* add new font later */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
  
}
/* fix padding adjust later*/
header {
    text-align: center;
    padding: 30px;
    border: 2px solid grey;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black ;
    margin: 40px auto;
    width:75%;
}

.card {
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 3px 3px 3px black ;
    margin: 20px auto;
    padding: 30px;
    width: 75%;
    padding: 30px;
    text-align: center;
}

.card p {
    margin-top: 8px;
}

.answer-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.answer-grid-item {
    display: grid;
}

.start {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 20px 40px;
    border: 0;
    border-radius: 15px;
    background-color: black;
    color: white;
    outline: 0;
    font-weight: bold;
}

#start-btn {
    width: 200px;  
    margin-top: 20px;
    padding: 20px 30px;
}
